---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Hubungi Kami</Fragment>
      <Fragment slot="desc">Untuk infromasi lengkap tentang kami.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class=" text-3xl text-gray-800 text-ungu font-bold">Tera Cendani PT</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Untuk berbagai pertanyaan dan informasi lengkap tentang kami, dapat menghubungi kami melalui layanan berikut :
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <a
               href="#" 
              <span>Wide II , 01/ 01 , Sidowayah, Panekan, Magetan</span>
            </a>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:teracendani@gmail.com"
              >teracendani@gmail.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">+62 812 312 74 828</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
