---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="maklon">
  <Container>
        <div class="text-4xl text-center pt-5 font-bold">
            <span>
                    Kerjasama
                    <span class="bg-ungu text-putih px-2">MAKLON</span>
            </span>
        </div>
        <div class='py-6 px-10 text-center'>
            Hasilkan produk parfum terbaik dengan aroma pilihanmu sendiri, dan ciptakan keharuman yang benar-benar mencerminkan gaya serta kepribadianmu. 
            <span class="bg-kuning">
                Pilih kombinasi aroma yang unik untuk menciptakan parfum eksklusif yang hanya ada untukmu,
            </span>
            membuat setiap semprotan menjadi pengalaman yang istimewa!
        </div>

        <div class="font-sans bg-white p-4 max-w-screen-xl px-0 my-5 font-bold">
            <div class="">

              <div class="grid md:grid-cols-2 gap-12">
                <div class="text-left">
                  <h2 class="text-gray-800 text-2xl font-bold mb-4 text-right"><span class="bg-warnashoope text-putih px-2 py-2 font-bold text-2xl">Tentukan Brand Pilihan Anda</span></h2>
                  <p class="mb-4 text-sm text-gray-500 text-right">Konsultasikan dengan kami tentang brand dan konsep yang akan 
                    anda buat sesuai dengan keinginan anda.</p>
                </div>
                <div class="max-h-40">
                  <img src="https://readymadeui.com/management-img.webp" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
                </div>
              </div>

              
              <div class="grid md:grid-cols-2 gap-12 my-5">
                <div class="max-h-40 max-md:order-1">
                  <img src="https://readymadeui.com/analtsis.webp" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
                </div>
                <div class="text-left">
                  <h2 class="text-gray-800 text-2xl font-bold mb-4"><span class="bg-merah text-putih px-2 py-2 font-bold text-2xl">Pilih Aroma Sesuai Karakter Anda</span></h2>
                  <p class="mb-4 text-sm text-gray-500">Diskusikan formula dan bahan-bahan dengan tim RnD kami.
                    kami akan membantu memberi beberapa alternatif  formula 
                    sesuai dengan keinginan anda.</p>
                </div>
              </div>
            </div>
          </div>

        <div class="font-sans bg-white p-4 max-w-screen-xl px-0 my-5 font-bold">
          <div class="">
            <div class="grid md:grid-cols-2 gap-12">
              <div class="text-left">
                <h2 class="text-gray-800 text-2xl font-bold mb-4 text-right"><span class="bg-warnashoope text-putih px-2 py-2 font-bold text-2xl">Pembuatan Sampel Produk</span></h2>
                <p class="mb-4 text-sm text-gray-500 text-right">Kami siapkan sample sesuai dengan formula dan konsep yang 
                  sudah di sepakati Bersama.
                </p>
              </div>
              <div class="max-h-40">
                <img src="https://readymadeui.com/management-img.webp" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
              </div>
            </div>

            
            <div class="grid md:grid-cols-2 gap-12 my-5">
              <div class="max-h-40 max-md:order-1">
                <img src="https://readymadeui.com/analtsis.webp" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
              </div>
              <div class="text-left">
                <h2 class="text-gray-800 text-2xl font-bold mb-4"><span class="bg-merah text-putih px-2 py-2 font-bold text-2xl">Perjanjian Kontrak</span></h2>
                <p class="mb-4 text-sm text-gray-500">Perjian kontrak meliputi: produk yand di produksi, Jangka waktu Kerjasama
                  , Hak dan Kewajiban, Harga dan cara pembayaran, serta penyelesaian masalah
                  yang mungkin dihadapi.
                </p>
              </div>
            </div>
          </div>
        </div>

        
        <div class="font-sans bg-white p-4 max-w-screen-xl px-0 my-5 font-bold">
          <div class="">
            <div class="grid md:grid-cols-2 gap-12">
              <div class="text-left">
                <h2 class="text-gray-800 text-2xl font-bold mb-4 text-right"><span class="bg-warnashoope text-putih px-2 py-2 font-bold text-2xl">Desain Produk</span></h2>
                <p class="mb-4 text-sm text-gray-500 text-right">Dapatkan gratis konsultasi dan desain untuk segala kebutuhan produk anda, Termasuk free pemilihan model botol dan
                  packaging  yang anda inginkan</p>
              </div>
              <div class="max-h-40">
                <img src="https://readymadeui.com/management-img.webp" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
              </div>
            </div>

            
            <div class="grid md:grid-cols-2 gap-12 my-5">
              <div class="max-h-40 max-md:order-1">
                <img src="https://readymadeui.com/analtsis.webp" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
              </div>
              <div class="text-left">
                <h2 class="text-gray-800 text-2xl font-bold mb-4"><span class="bg-merah text-putih px-2 py-2 font-bold text-2xl">Produksi</span></h2>
                <p class="mb-4 text-sm text-gray-500">Kami pastikan akan memproduksi brand anda sesuai standart <span class="bg-warnatiktok text-putih px-2 font-bold">CPOTB-BPOM </span>.yang akan membuat brand anda aman Ketika beredar di pasaran.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="font-sans bg-white p-4 max-w-screen-xl px-0 my-5 font-bold">
          <div class="">
            <div class="grid md:grid-cols-2 gap-12">
              <div class="text-left">
                <h2 class="text-gray-800 text-2xl font-bold mb-4 text-right"><span class="bg-warnashoope text-putih px-2 py-2 font-bold text-2xl">Legailitas Brand</span></h2>
                <p class="mb-4 text-sm text-gray-500 text-right">Kelesuruhan kegiatan maklon yang disepakati,kita akan support hingga selesai terkait <span class="bg-ungu text-putih font-bold px-2 py-1"> izin edar,HKI,Sertifikasi Halal, dan BPOM</span>.</p>
              </div>
              <div class="max-h-40">
                <img src="https://readymadeui.com/management-img.webp" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
              </div>
            </div>

  </Container>
</Layout>
