---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Aroma Tahan Lama",
    description:
      "Diformulasikan dengan bahan berkualitas, parfum ini memberikan keharuman yang bertahan sepanjang hari.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Kesegaran Unik",
    description:
      "Kombinasi aroma yang memikat, menciptakan kesan segar dan elegan setiap kali digunakan.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Meningkatkan Kepercayaan Diri",
    description:
      "Wewangian yang dirancang untuk memancarkan pesona dan meningkatkan rasa percaya diri Anda. ",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <span class=>Pancarkan Kecantikan dari</span><span class="text-oren"> pesonamu </span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Pancarkan keindahan dengan wangi yang memikat, menciptakan pesona yang tak terlupakan di setiap momen.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
