<div class="font-sans bg-gray-50 px-4 py-8">
    <div class="mx-auto lg:max-w-6xl md:max-w-4xl">
      <h2 class="text-4xl font-extrabold text-gray-800 text-center mb-12 text-ungu">Produk Unggulan</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">

        <div class="bg-white p-3 cursor-pointer shadow-sm rounded-md hover:scale-[1.03] transition-all">
          <div class="w-full h-[130px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="https://readymadeui.com/images/watch1.webp" alt="product1"
              class="h-full w-5/6 mx-auto block object-contain" />
          </div>
          <div class="text-center mt-4">
            <h3 class="text-sm font-bold text-gray-800">French Timex</h3>
            <h4 class="text-base text-blue-600 font-bold mt-2">$95.00</h4>
          </div>
        </div>

        <div class="bg-white p-3 cursor-pointer shadow-sm rounded-md hover:scale-[1.03] transition-all">
          <div class="w-full h-[130px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="https://readymadeui.com/images/product14.webp" alt="product2"
              class="h-full w-5/6 mx-auto block object-contain" />
          </div>
          <div class="text-center mt-4">
            <h3 class="text-sm font-bold text-gray-800">Echo Elegance</h3>
            <h4 class="text-base text-blue-600 font-bold mt-2">$20.00</h4>
          </div>
        </div>

        <div class="bg-white p-3 cursor-pointer shadow-sm rounded-md hover:scale-[1.03] transition-all">
          <div class="w-full h-[130px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="https://readymadeui.com/images/laptop4.webp" alt="product3"
              class="h-full w-5/6 mx-auto block object-contain" />
          </div>
          <div class="text-center mt-4">
            <h3 class="text-sm font-bold text-gray-800">Acer One 14 AMD</h3>
            <h4 class="text-base text-blue-600 font-bold mt-2">$400.00</h4>
          </div>
        </div>

        <div class="bg-white p-3 cursor-pointer shadow-sm rounded-md hover:scale-[1.03] transition-all">
          <div class="w-full h-[130px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="https://readymadeui.com/images/watch4.webp" alt="product4"
              class="h-full w-5/6 mx-auto block object-contain" />
          </div>
          <div class="text-center mt-4">
            <h3 class="text-sm font-bold text-gray-800">Irish Cream Dream</h3>
            <h4 class="text-base text-blue-600 font-bold mt-2">$11.00</h4>
          </div>
        </div>

        <div class="bg-white p-3 cursor-pointer shadow-sm rounded-md hover:scale-[1.03] transition-all">
          <div class="w-full h-[130px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="https://readymadeui.com/images/coffee7.webp" alt="product5"
              class="h-full w-5/6 mx-auto block object-contain" />
          </div>
          <div class="text-center mt-4">
            <h3 class="text-sm font-bold text-gray-800">Luxury desk clock</h3>
            <h4 class="text-base text-blue-600 font-bold mt-2">$90.00</h4>
          </div>
        </div>

        <div class="bg-white p-3 cursor-pointer shadow-sm rounded-md hover:scale-[1.03] transition-all">
          <div class="w-full h-[130px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img src="https://readymadeui.com/images/watch7.webp" alt="product6"
              class="h-full w-5/6 mx-auto block object-contain" />
          </div>
          <div class="text-center mt-4">
            <h3 class="text-sm font-bold text-gray-800">Smart Watch</h3>
            <h4 class="text-base text-blue-600 font-bold mt-2">$110.00</h4>
          </div>
        </div>


      </div>
    </div>
  </div>